<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true">
  <testsuites>
    <testsuite name="Test suite">
      <directory suffix="Test.php">./test</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <!-- <report>
      <clover output="reports/logs/clover.xml"/>
      <html output="reports/logs/coverage"/>
    </report> -->
  </coverage>
</phpunit>